{% extends "base.html" %}

{% block content %}

    <article class="main" id="about">
    
        <h1>About This Site</h1>

        <p>The original version of this website was created some time around December 2003 - while I was in my fourth and final year studying Chemistry at St Edmund Hall College, Oxford. I was (and still am) pretty into my tech, so the idea of creating a website to house the notes I'd used to revise for my final year exams whilst working on my thesis wasn't so unusual - and they were digitised already so not a huge amount of effort. They worked pretty well - I got a First so must be mostly okay <i class="fas fa-glass-cheers"></i>!</p>

        <p>Sadly a lot of the smarts in here have since left my brain - mostly replaced by job stuff. I ended up working as a Software Engineer rather than pursuing a Chemistry career. Still, there's been a steady trickle of people to the website over the years - presumably found through Google (I never bothered to actually advertise it out there anywhere, but Google bots are pretty smart ...). It broke once along the way - the hosting provider stopped supporting that version of PHP ... yes it was that old, and yes it used to be written in PHP <i class="far fa-frown-open"></i>. It recently served as a good excuse to brush up on my Python, so I've rewritten the site - content is still the same though. If you're interested in this side of things, the code is open-sourced (see the Github link on the left).</p>

        <p>Whilst I find it pretty hard to remember the details from back then, I'm pretty sure I ought to be thanking a whole bunch of people. Whilst the words in these notes are my own, I remember my fellow Teddy Hall Chemistry year group being a helpful bunch when preparing tutorials etc., and my professors were pretty awesome tutors to boot. I certainly wouldn't have been able to pull these notes together without their assistance somewhere along the way.</p>

        <p>Finally, if you'd like to contribute to this site, I'd love to hear from you! I'm pretty open-minded about extending this out if there's anyone who is up for it - let me know via the <a href="/contact">Contact Form</a>. Corrections also welcome too, of course <i class="far fa-smile"></i></p>
    
    </article>

{% endblock %}

