<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

<head>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>{{ layout.name}} :: {{ title }}</title>

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{{ description }}" />
    <meta itemprop="name" content="{{ layout.name}}: {{ title }}">
    <meta itemprop="description" content="{{ layout.description }}">

    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/fa.min.css') }}" rel="stylesheet">

    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon" />
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="apple-touch-icon-precomposed" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
    <link rel="mask-icon" href="{{ url_for('static', filename='safari-pinned-tab.svg') }}" color="#5bbad5">

    <meta name="msapplication-TileColor" content="#878bf7">
    <meta name="theme-color" content="#cccdfb">

    <script src="{{ url_for('static', filename='js/jquery-3.2.1.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/jqBootstrapValidation.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/alchemyst.js') }}" type="text/javascript"></script>

    <!-- MathJax for equations -->
    <script id="MathJax-script" async src="{{ url_for('static', filename='js/tex-mml-chtml.js') }}"></script>

    <script defer src="https://visits.alexos.dev/alexos" data-website-id="a0ed7cab-a210-430e-aed1-ea0181b05e35"></script>

</head>

<body>

  <div id="container">

    <div id="wrapper">

      {% include 'fragments/nav.html' %}


      <div id="content">

        {% block content %}{% endblock %}

      </div>

      {% include 'fragments/sidebar.html' %}

      <a id="back-to-top" href="#" class="fa fa-arrow-up fa-border fa-2x" title="Back to Top" aria-label="Back to Top"></a>

    </div>

    <footer>
        <p>
            &copy; 2003-{{ layout.year }} {{ layout.author }}
            &nbsp;&nbsp;|&nbsp;&nbsp; 
            For Terms & Privacy Policy, see <a href="/privacy/">here</a>
        </p>
    </footer>

  </div>

  <script src="{{ url_for('static', filename='js/backToTop.js') }}" async defer></script>

  <script type="text/javascript">
    (() => {
      const name = 'outbound-link-click';
      document.querySelectorAll('a').forEach(a => {
        if (a.host !== window.location.host && !a.getAttribute('data-umami-event')) {
          a.setAttribute('data-umami-event', name);
          a.setAttribute('data-umami-event-url', a.href);
        }
      });
    })();
  </script>

</body>

</html>