<!DOCTYPE html>
<html lang="en" itemscope itemtype="http://schema.org/WebPage">

{% include 'fragments/header.html' %}

<body>

  <div id="container">

    <div id="wrapper">

      {% include 'fragments/nav.html' %}


      <div id="content">

        {% block content %}{% endblock %}

      </div>

      {% include 'fragments/sidebar.html' %}

      <a id="back-to-top" href="#" class="fa fa-arrow-up fa-border fa-2x"></a>

    </div>

    {% include 'fragments/footer.html' %}

  </div>

  <script src="{{ url_for('static', filename='js/backToTop.js') }}" async defer></script>
  <script src="https://www.googletagmanager.com/gtag/js?id=UA-86642618-1" async></script>
  <script src="{{ url_for('static', filename='js/ga.js') }}" async></script>

</body>

</html>