{% extends "base.html" %}

{% block content %}
    
    <article class="main" id="home">
        
        <h1>{{ title }}</h1>

        <h2>Hello and welcome to my Oxford Chemistry Notes website</h2>
        
        <p>
            The original version of this website (2003) was created back when I was at University, as a place to store my Chemistry notes for others - particularly later year groups - to have a little bit of help if they need it.
            I've recently (2019) brought the website up to date as it was showing <em>serious</em> signs of age, since there has been a steady trickle of users since it was created.
        </p>

        <p>
            The <a href="/notes">Notes</a> section contains a list of all the documents available, grouped by category.
            There's also now a <a href="/tags">Tags</a> section where I've tried to sub-categorise a bit to help out (there's also the Search option on the left).
        </p>

        <p>
            If you'd like to show your thanks, do drop me a <a href="/contact">note</a> - it's always appreciated to know when this site has been helpful!
            You can also learn a little bit more about this site and those who helped put it together <a href="/about">here</a>.
        </p>

        <p>
            The <a href="/contact">Contact Form</a> is also a great way to let me know if you spot a mistake - I was pretty good at Chemistry but I definitely did make them!
        </p>
	 
    </article>
    
{% endblock %}