{% extends "base.html" %}

{% block content %}
    
    <article class="main" id="links">

        <h1>Links</h1>

        <p>I've trimmed this down to only include sites that still seem to work - unsurprisingly many of the ones from 2003 were dead links now!</p>
        
        <hr />
        
        <h2>Visitor's Recommended Links</h2>

        <p style="text-align: center;">If, like Kayla, you have any tips for good websites to include here - please <a href="/contact">let me know!</a></p>

        <section class="link">
            <h3><a href="https://www.madisontrust.com/client-resources/articles/gold-silver-and-other-precious-metals/" target="_blank">Madison Trust: Precious Metals</a></h3> 
            <p>This awesome resource was recommended by one of this website's visitors, a STEM club student - thank you Kayla!</p>
        </section>

        <hr />

        <h2>Publications</h2>

        <section class="link">
            <h3><a href="https://pubs.acs.org/" target="_blank">American Chemical Society Publications</a></h3> 
            <p>Very useful resource for all the ACS-published chemistry journals. Everything back to the late 19th century (!) is apparently available online. You'll use this a lot in Part II year if you're at Oxford ...</p>
        </section>

        <hr />
        
        <h2>Periodic Tables</h2>

        <section class="link">
            <h3><a href="https://www.webelements.com/" target="_blank">WebElements</a></h3> 
            <p>This one has has been around for a while and was the go-to back when I was at Uni - for when you've just got to know the melting point of Niobium. Happens to me all the time, obviously ...</p>
        </section>

        <section class="link">
            <h3><a href="https://www.rsc.org/periodic-table" target="_blank">RSC Periodic Table</a></h3> 
            <p>The Royal Society of Chemistry's online periodic table is, as you might expect, very rich in info, including links to other resources such as podcasts, videos and references galore.</p>
        </section>

        <section class="link">
            <h3><a href="https://periodictable.com/" target="_blank">PeriodicTable.com</a></h3> 
            <p>Snazzy domain name ... this one is full of more practical usage and photos and such. Not so much with the detail, but more appropriate for general interest.</p>
        </section>

        <hr />
        
        <h2>Physical</h2>

        <p>My weakest of the three disciplines - I therefore kept more links on this than anything else. These ones survived ...</p>

        <section class="link">
            <h3><a href="http://hyperphysics.phy-astr.gsu.edu/hbase/Atomic/Hund.html" target="_blank">Hund's Rules</a></h3> 
            <p>Having trouble understanding Hund's Rules, or where they come from? This site describes them really well!</p>
        </section>

        <section class="link">
            <h3><a href="http://rkt.chem.ox.ac.uk/teaching.html" target="_blank">Dr Thomas' Notes & Tutorials</a></h3> 
            <p>Dr Thomas' lecture notes and tutorials on Thermodynamics, Solutions and Molecular Interactions. This was handy for me as it was a topic I struggled with.</p>
        </section>

        <section class="link">
            <h3><a href="http://hyperphysics.phy-astr.gsu.edu/hbase/quantum/atomstructcon.html#c1" target="_blank">Atomic Spectroscopy</a></h3> 
            <p>Great site describing most of the common and important terms and concepts in Atomic Spectroscopy. Easy to understand too.</p>
        </section> 

    </article>

{% endblock %}