{% extends "base.html" %}

{% block content %}

    <article class="note">

        <section class="note-heading">
            <div class="note-title">
                <h1>{{ note.title }}</a></h1>
                <p>{{ note.description }}</p>
                <ul>
                    {% for tag in note.tags %}
                    <li><a href="/tags/{{ tag}}">{{ tag }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="note-metadata">
                <p><span class="note-label">Author:</span> {{ note.author }}</p>
                <p><span class="note-label">Category:</span> {{ note.category }}</p>
                <p><span class="note-label">Level:</span> {{ note.level }}</p>
                <p><span class="note-label">Filesize:</span> {{ (note.filesize / 1024) | round | int }}Kb</p>
                <p><span class="note-label">Last Modified:</span> {{ note.last_modified.strftime('%d %B %Y') }}</p>
            </div>
        </section>

        <section class="note-content">
            <div class="centered">
                <a href="{{ note.asset_link }}" target="_blank">
                    <button data-umami-event="download-pdf" data-umami-event-url="{{ note.asset_link }}">
                        <i class="fas fa-download"></i>
                        &nbsp;&nbsp;Download PDF&nbsp;&nbsp;                        
                        <i class="fas fa-download"></i>    
                    </button>
                </a>
            </div>
            <hr />
            <div class="document">{{ note.doc_id | display_document | safe }}</div>
            <div class="copy">These notes are copyright Alex Moss, &copy; 2003-present.<br />I am happy for them to be reproduced, but please include credit to this website if you're putting them somewhere public please!</div>
		</section>

    </article>

{% endblock %}
