stages:
- release
- scan

variables:
  BACKEND_IMAGE_NAME: europe-docker.pkg.dev/${GCP_PROJECT_ID}/alexos/alchemyst-backend
  FRONTEND_IMAGE_NAME: europe-docker.pkg.dev/${GCP_PROJECT_ID}/alexos/alchemyst-frontend
  NAMESPACE: alchemyst

# to validate renovations
test-only:
  stage: release
  rules:
    - if: $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
  image: al3xos/ci-tools:latest
  script:
    - alexos-cli test --include-coverage
  coverage: '/TOTAL.*\s+(\d+%)$/'
  artifacts:
    when: always
    reports:
      junit: ./*_out_report.xml

configure:
  stage: release
  image: al3xos/ci-tools:latest
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'
  before_script:
    - |
      region=$(gcloud container clusters list --project=${GCP_PROJECT_ID} --filter "NAME=${CLUSTER_NAME}" --format "value(zone)")
      gcloud container clusters get-credentials ${CLUSTER_NAME} --project=${GCP_PROJECT_ID} --region=${region}
  script:
    - |
      if ! kubectl get secret alchemyst-secrets -n=alchemyst &> /dev/null; then
        SECRET_KEY=$(python -c 'import secrets; print(secrets.token_hex(32))')
        kubectl create secret generic alchemyst-secrets -n=alchemyst --from-literal=secret-key="$SECRET_KEY"
        echo "✓ Created new secret"
      else
        echo "✓ Secret already exists, skipping"
      fi

frontend-test-build-deploy:
  stage: release
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: al3xos/ci-tools:latest
  script:
    - alexos-cli build --image-name=$FRONTEND_IMAGE_NAME --gcr-login --dockerfile=frontend.Dockerfile
    - alexos-cli deploy kubernetes --image-name=$FRONTEND_IMAGE_NAME --namespace=$NAMESPACE --manifests=k8s/frontend

backend-test-build-deploy:
  stage: release
  needs:
  - configure
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  image: al3xos/ci-tools:latest
  script:
    - alexos-cli test --include-coverage
    - alexos-cli build --image-name=$BACKEND_IMAGE_NAME --gcr-login --dockerfile=backend.Dockerfile
    - alexos-cli deploy kubernetes --image-name=$BACKEND_IMAGE_NAME --namespace=$NAMESPACE --manifests=k8s/backend
  coverage: '/TOTAL.*\s+(\d+%)$/'
  artifacts:
    when: always
    reports:
      junit: ./*_out_report.xml

include:
  - component: gitlab.com/alexos-public/gitlab-ci-components/security-scan@~latest
    rules:
      - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    inputs:
      job-stage: scan
      job-needs: ["frontend-test-build-deploy", "backend-test-build-deploy"]
      image-names: |
        europe-docker.pkg.dev/${GCP_PROJECT_ID}/alexos/alchemyst-frontend
        europe-docker.pkg.dev/${GCP_PROJECT_ID}/alexos/alchemyst-backend
      dockerfiles: |
        frontend.Dockerfile
        backend.Dockerfile
      language-scan: "true"
      include-kics-ignore: "true"
