stages:
- test
- build
- scan
- deploy

# ------------------ Catalog ----------------- #

include:
  - component: gitlab.com/alexos-public/gitlab-ci-components/buildkit@~latest
    inputs:
      job-stage: build
      job-suffix: frontend
      job-needs: ["test"]
      image-name: europe-docker.pkg.dev/${GCP_PROJECT_ID}/alexos/alchemyst-frontend
      dockerfile: frontend.Dockerfile
  - component: gitlab.com/alexos-public/gitlab-ci-components/buildkit@~latest
    inputs:
      job-stage: build
      job-suffix: backend
      job-needs: ["test"]
      image-name: europe-docker.pkg.dev/${GCP_PROJECT_ID}/alexos/alchemyst-backend
      dockerfile: backend.Dockerfile

  - component: gitlab.com/alexos-public/gitlab-ci-components/security-scan@~latest
    inputs:
      job-stage: scan
      job-needs: ["buildkit-build-frontend", "buildkit-build-backend"]
      image-names: |
        europe-docker.pkg.dev/${GCP_PROJECT_ID}/alexos/alchemyst-frontend
        europe-docker.pkg.dev/${GCP_PROJECT_ID}/alexos/alchemyst-backend
      dockerfiles: |
        frontend.Dockerfile
        backend.Dockerfile
      language-scan: "true"

  - component: gitlab.com/alexos-public/gitlab-ci-components/deploy-k8s@~latest
    inputs:
      job-stage: deploy
      job-suffix: frontend
      job-needs: ["buildkit-build-frontend", "configure"]
      app-name: alchemyst-frontend
      namespace: alchemyst
      image-name: europe-docker.pkg.dev/${GCP_PROJECT_ID}/alexos/alchemyst-frontend
      manifest-dir: k8s/frontend
  - component: gitlab.com/alexos-public/gitlab-ci-components/deploy-k8s@~latest
    inputs:
      job-stage: deploy
      job-suffix: backend
      job-needs: ["buildkit-build-backend"]
      app-name: alchemyst-backend
      namespace: alchemyst
      image-name: europe-docker.pkg.dev/${GCP_PROJECT_ID}/alexos/alchemyst-backend
      manifest-dir: k8s/backend

# ------------------ Stages ----------------- #

test:
  stage: test
  image: al3xos/python-builder:3.13-debian12
  before_script:
    - uv sync --locked
  script:
    - uv run flake8 ./alchemyst  --format junit-xml --output-file=./flake_out_report.xml
    - uv run pytest --cov --cov-report term-missing --cov-report xml:./coverage_out_report.xml --junitxml=./test_out_report.xml
  coverage: '/TOTAL.*\s+(\d+%)$/'
  artifacts:
    when: always
    reports:
      junit: ./*_out_report.xml

configure:
  stage: deploy
  image: al3xos/ci-tools:latest
  rules:
    - if: '$CI_COMMIT_BRANCH == "$CI_DEFAULT_BRANCH"'
  script: |
    if ! kubectl get secret alchemyst-secrets &> /dev/null; then
      SECRET_KEY=$(python -c 'import secrets; print(secrets.token_hex(32))')
      kubectl create secret generic alchemyst-secrets -n=alchemyst --from-literal=secret-key="$SECRET_KEY"
      echo "✓ Created new secret"
    else
      echo "✓ Secret already exists, skipping"
    fi
