[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "*"
google-cloud-datastore = "*"
google-cloud-storage = "*"
google-cloud = "*"
pyyaml = "*"
dacite = "*"
gunicorn = "*"
prometheus-flask-exporter = "*"
flask-compress = "*"
flask-caching = "*"
requests = "*"

[dev-packages]
alchemyst = {editable = true,path = "."}
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"
pytest-watch = "*"
pytest-socket = "*"
pytest-timeout = "*"
beautifulsoup4 = "*"
flake8 = "*"

[requires]
python_version = "3.12"
