---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: alchemyst-frontend
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 50%
      maxUnavailable: 50%
  template:
    metadata:
      annotations:
        cluster-autoscaler.kubernetes.io/safe-to-evict: "true"
    spec:
      containers:
      - name: alchemyst-frontend
        image: alchemyst-frontend:SET_BY_CI
        ports:
        - name: http
          containerPort: 8080
        - name: metrics
          containerPort: 9145
        workingDir: /app
        securityContext:
          runAsNonRoot: true
          runAsUser: 101
          runAsGroup: 101
          allowPrivilegeEscalation: false
          readOnlyRootFilesystem: true
          seccompProfile:
            type: RuntimeDefault
          capabilities:
            drop:
            - ALL
        resources:
          requests:
            cpu: 10m
            memory: 10Mi
            ephemeral-storage: 100Mi
          limits:
            memory: 50Mi
            ephemeral-storage: 100Mi
        readinessProbe:
          httpGet:
            path: /healthz
            port: http
          initialDelaySeconds: 10
          periodSeconds: 5
          timeoutSeconds: 1
        livenessProbe:
          httpGet:
            path: /healthz
            port: http
          initialDelaySeconds: 30
          periodSeconds: 15
          timeoutSeconds: 1
        volumeMounts:
        - mountPath: /var/cache/nginx
          name: cache-volume
        - mountPath: /var/run/nginx
          name: pid-volume
        imagePullPolicy: Always
      volumes:
      - name: cache-volume
        emptyDir: {}
      - name: pid-volume
        emptyDir: {}
      serviceAccountName: alchemyst
      automountServiceAccountToken: false
      restartPolicy: Always
      nodeSelector:
        cloud.google.com/gke-spot: "true"
      terminationGracePeriodSeconds: 25
---
apiVersion: policy/v1
kind: PodDisruptionBudget
metadata:
  name: alchemyst-frontend
spec:
  minAvailable: 1
  selector:
    matchLabels:
      app: alchemyst-frontend
