@import "reset.css";

@import "fonts.css";

:root {
    --bg-color: #fff;
    --font-color: #393939;
    --link-color: #878bf7;
    --link-hover-color: #ff0d54;
    --highlight-color: #25ff95;
    --border-color: #878bf7;
    --shadow-color: #000;

    --button-color: #cccdfb;
    --button-disabled-color: #434684;

    --header-bg-color: #434684;
    --header-font-color: #eee;
    --header-hover-color: #25ff95;

    /* 434684 */
    /* 878bf7 */
    /* cccdfb */
    /* red - #ff0d54 */
    /* green - #25ff95 */
}

/****************** Base ******************/

::selection {
    background: #cccdfb; 
}
::-moz-selection {
    background: #cccdfb;
}

body {
   font-family: 'Questrial', 'Arial', 'sans-serif';
}

p {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    color: var(--font-color);
}

li {
    line-height: 1.5rem;
    color: var(--font-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
    cursor: pointer;
}

a:hover, a:focus, a:active {
    color: var(--link-hover-color);
}

hr {
    border: 0;
    padding-top: 1.5rem;
    margin-bottom: 1.5rem;
    width: 90%;
    border-bottom: 1px solid var(--border-color);
}

h1, h2, h3, h4, h5 {
    font-family: 'News Cycle', 'Arial', 'sans-serif';
    margin-bottom: 1.5rem;
    color: var(--font-color);
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.3rem;
}

h4 {
    font-size: 1.1rem;
}

em {
    font-style: italic;
}

strong {
    font-weight: 1000;
}

sup { 
    font-size: 75%; 
    line-height: 0; 
    position: relative; 
    vertical-align: baseline; 
    top: -0.5em 
}
sub { 
    font-size: 75%; 
    line-height: 0; 
    position: relative; 
    vertical-align: baseline; 
    top: 0.5em 
}

.centered {
    width: 100%;
    text-align: center;
}

.error {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: var(--bg-color);
    width: 50%;
    line-height: 1.5rem;
    color: var(--link-hover-color);
    border: 1px solid var(--link-hover-color);
    padding: 1rem;
}

.info {
    display: inline-block;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: var(--bg-color);
    width: 50%;
    line-height: 1.5rem;
    border: 1px solid var(--link-color);
    padding: 1rem;
}

button {
    display: inline-block;
    cursor: pointer;
    width: 300px;
    text-align: center;
    background-color: var(--button-color);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    box-shadow: 1px 1px 6px 0 var(--font-color);
    /* box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); */
    padding: 1rem;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid var(--border-color);
}
button:hover {
    background-color: var(--link-color);
    border: 1px solid var(--highlight-color);
    color: white;
}

/****************** Layout ******************/

#container {
    min-height: 100%;
    position: relative;
}

#wrapper {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -moz-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    margin: 0 auto;
    max-width: 100%;
    opacity: 1;
    padding-bottom: 30px; /* height of footer */
    width: 90rem;
    overflow: hidden;
    float: left;
}

/****************** Header ******************/

header {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-justify-content: space-between;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    height: 4rem;
    left: 0;
    line-height: 4rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
    background-color: var(--header-bg-color);
    border-bottom: solid 1px var(--border-color);
    box-shadow: 0 0 15px var(--shadow-color);
    opacity: 0.8;
}

header h1 {
    white-space: nowrap;
    padding: 0 0 0 1.5rem;
    margin: 1.1rem 0 0 0;
    width: 10rem;
    min-width: 10rem;
    line-height: 1.4rem;
    letter-spacing: 0.05rem;
    font-size: 1.6rem;
    
}
header h1 a {
    color: var(--header-font-color);
}
header h1 a:hover {
    color: var(--header-hover-color);
    text-shadow: 2px 2px var(--shadow-color);
}

header ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
}
.nav-menu {
    display: inline-block;
    padding-left: 0;
}

.nav-menu a {
    -moz-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    display: block;
    float: left;
    text-transform: uppercase;
    font-size: 0.8rem;
    letter-spacing: 0.15rem;
    padding-left: 0.7rem;
    margin-left: 0.8rem;
    margin-right: 0.2rem;
    margin-top: 1.2rem;
    line-height: 1.6rem;
    height: 1.6rem;
    color: var(--header-font-color);
    text-decoration: none;
    border-left: 1px solid var(--header-font-color);
    /* width: 7rem; */
}

/*** Hamburger Menu ***/
@media screen and (max-width: 825px) {
    .nav-menu a:not(:first-child) {
        display: none;
    }
    .nav-menu a.nav-icon {
      float: right;
      display: block !important;
      margin-right: 1rem;
      padding-right: 0;
    }
    .nav-menu.responsive {
        position: absolute;
        top: 5rem;
        right: 1rem;
        padding-bottom: 1rem;
        background-color: var(--header-bg-color);
        border-bottom: solid 1px var(--border-color);
        box-shadow: 0 0 15px var(--shadow-color);
        opacity: 1;    
    }
    .nav-menu.responsive a {
        float: none;
        display: block;
        text-align: left;
        width: 12rem;
        height: 3rem;
        color: var(--header-font-color) !important;
        font-size: 1rem;
        line-height: 3rem;
        text-shadow: none !important;
    }
    .nav-menu.responsive a:first-child {
        color: var(--shadow-color) !important; 
    }
}

.nav-menu a.nav-icon {
    display: none;
}

.nav-menu a:last-child {
    margin-right: 1rem;
}

.nav-menu a:hover {
    color: var(--header-hover-color);
    border-left: 1px solid var(--header-hover-color);
    text-shadow: 2px 2px var(--shadow-color);
}

/****************** Footer ******************/

footer {
    position: fixed; /* will float above content */
    /* position: absolute; */ /* if want to place below content */
    bottom: 0;
    width: 100%;
    height: 30px;   /* Height of the footer */
    background: var(--header-bg-color);
    margin: 0;
    padding: 0;
    opacity: 0.8;
}

footer p {
    font-size: 0.8rem;
    margin: 0.1rem;
    padding: 0.1rem;
    padding-left: 0.5rem;
    color: var(--header-font-color);
}

footer p a {
    color: var(--header-hover-color);
}

/****************** Sidebar ******************/

#sidebar {
    margin-top: 6rem;
    margin-left: 1rem;
    margin-right: 1rem;
    min-width: 14rem;
    width: 15rem;
    border-right: 1px solid var(--border-color);
}
@media screen and (max-width: 740px) {
    #sidebar {
        display: none;
    }
}

#intro {
    margin: 0;
    padding: 0;
    height: 11rem;
    width: 13rem;
    text-align: center;
}
#intro a img {
    width: 10rem;
    height: 10rem;
}

#social {
    margin: 0;
    margin-bottom: 1rem;
    padding: 0;
    width: 13rem;
    text-align: center;
}
#social a {
    font-size: 1.5rem;
    padding: 0.5rem;
}

#categories a {
    float: left;
    background-color: var(--button-color);
    border: 1px solid var(--border-color);
    box-shadow: 1px 1px 6px 0 var(--font-color);
    width: 12.5rem;
    height: 3rem;
    line-height: 2rem;
    padding: 0.5rem;
    margin: 0.5rem;
    text-align: center;
}
#categories a:hover {
    background-color: var(--border-color);
    color: var(--header-hover-color);
    border-color: var(--highlight-color);
    text-shadow: 2px 2px var(--header-bg-color);
}

#search {
    display: inline-block;
    padding: 0;
    margin: 0.55rem;
}

#search input[type=text] {
    padding: 0;
    margin: 0;
    width: 12.5rem;
    height: 2rem;
    outline: none;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    background-color: transparent;
    color: var(--font-color);
    border: 0;
    border-bottom: 1px solid var(--border-color);
}

#search input[type=text]:focus {
    border-bottom: 1px solid var(--highlight-color);
}

/****************** Main Content ******************/

#content {
    -moz-flex-grow: 1;
    -webkit-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
    -ms-flex: 1;
    flex: 1;
    width: 100%;
    margin-top: 6rem;
    margin-left: 1rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding: 0;
    border: 1px solid var(--border-color);
    box-shadow: 2px 2px 6px 0 var(--font-color);
}

/* Animated link underlining */
.main a, .main a:hover, .main a:focus, .main a:active  {
    text-decoration: none;
    position: relative;
}
.main a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: var(--border-color);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}
.main a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

#content figure {
    width: 30%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    text-indent: 0;
    margin: 0.5rem;
}
@media screen and (max-width: 930px) {
    #content figure {
        width: 100%;
    }
}
#content .left {
    float: left;
}
#content .right {
    float: right;
}
#content figure img.scaled {
    width: 100%;
}
#content figure img.scale100 {
    width: 200px;
}
#content figcaption {
    margin: 0.2em;
    padding: 0.2em;
}

.main {
    padding: 2rem 2rem 1rem 2rem;
    position: relative;
    height: 100%;
}

.main p {
    font-size: 1.05rem;
    letter-spacing: 0.03rem;
    line-height: 2rem;
}

/****************** Backgrounds ******************/

#home {
    position: relative;
    z-index: 1;
}
#home:before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .2; 
    z-index: -1;
    background-color: #fff;
    background-image: url("/static/images/background-home.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#about {
    position: relative;
    z-index: 1;
}
#about:before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .2; 
    z-index: -1;
    background-color: #fff;
    background-image: url("/static/images/background-about.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#links {
    position: relative;
    z-index: 1;
}
#links:before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .2; 
    z-index: -1;
    background-color: #fff;
    background-image: url("/static/images/background-links.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#contact {
    position: relative;
    z-index: 1;
}
#contact:before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .2; 
    z-index: -1;
    background-color: #fff;
    background-image: url("/static/images/background-contact.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#notes, #tags {
    position: relative;
    z-index: 1;
    text-align: center;
}
#notes:before, #tags:before {
    content: "";
    position: absolute;
    top: 0; 
    left: 0;
    width: 100%; 
    height: 100%;  
    opacity: .2; 
    z-index: -1;
    background-color: #fff;
    background-image: url("/static/images/background-notes.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/****************** Links ******************/

.link {
    border-left: 2px solid var(--border-color);
    padding-left: 1.5rem;
    margin: 1rem;
}
.link h3 {
    font-weight: 800;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    margin: 0;
    margin-bottom: 0.5rem;
}
.link p {
    font-size: 0.9rem;
    line-height: 1.5rem;
}

/****************** Notes List ******************/

.notes-list-item {
    display: inline-block;
    width: 90%;
    padding: 1rem;
    margin: 0.5rem;
    text-align: left;
    border: 1px solid var(--border-color);
    background-color: rgba(255, 255, 255, 0.4);
}
.notes-list-item:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.notes-list-title {
    font-size: 1.2rem;
    margin: 0.5rem;
}

.notes-list-meta {
    margin: 0.5rem;
    margin-top: 1rem;
    margin-left: 2.5rem;
    font-size: 0.9rem;
    letter-spacing: 0;
}

.notes-list-desc {
    margin: 0.5rem;
    margin-left: 2.5rem;
    font-size: 0.9rem;
    letter-spacing: 0;
    line-height: 1.2rem;
    opacity: 0.7;
    font-family: 'News Cycle';
}

.notes-list-search {
    display: inline-block;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.notes-list-filters {
    color: var(--font-color);
    margin: 0.5rem;
    margin-top: 2rem;
    line-height: 1.5rem;
}
.padded-beam {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

/****************** Note ******************/

.note {
    padding: 3rem 3rem 1rem 3rem;
    margin: 0 0 2rem 0;
    position: relative;
}

.note > .note-heading {
    display: table;
    border-bottom: solid 1px var(--border-color);
    left: -3rem;
    margin: -3rem 0 3rem 0;
    position: relative;
    width: calc(100% + 6rem);
}

.note-title {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    border-right: solid 1px var(--border-color);
    padding: 2rem;

}
.note-title > :last-child {
    margin-bottom: 0;
}

.note-title h1 {
    transition: color 0.2s ease, border-bottom-color 0.2s ease;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin-bottom: 0.5rem;
}

.note-title h1 a {
    text-decoration: none;
    color: var(--post-title-color);
}

.note-title p {
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
    margin: 0 1rem 1.5rem 0;
    line-height: 1.5rem;
}

.note-title li {
    display: inline-block;
    list-style: none;
    margin-right: 0.3rem;
    font-family: 'News Cycle', 'Arial', 'sans-serif';
}

.note-metadata {
    display: table-cell;
    padding-left: 1rem;
    min-width: 24rem;
    width: 24rem;
    height: 14rem;
    text-align: left;
    vertical-align: middle;
}

.note-metadata p {
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    white-space: nowrap;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.note-metadata .note-label {
    display: inline-block;
    width: 8rem;
    font-weight: 800;
}


.note-content h1, h2, h3, h4 {
    font-weight: bold;
    text-align: center;
}

.note-content h1, h2 {
    text-decoration: underline;
    margin-top: 2rem;
}

.note-content h4 {
    font-style: italic;
}

.note-content ul {
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.note-content p {
    font-size: 1.05rem;
    letter-spacing: 0.03rem;
}
.note-content p.image {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}
.note-content p.caption {
    margin: 0; margin-bottom: 1rem;
    padding: 0;
    font-size: 0.8rem;
    text-align: center;
}


.document {
    font-family: 'News Cycle', Arial, sans-serif;
    line-height: 1.5rem;
}

.document h1, .document h2, .document h3, .document h4, .document h5 {
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.document h1 {
    font-size: 1.8rem;
    letter-spacing: 0.05rem;
}
.document h2 {
    font-size: 1.4rem;
}
.document h3 {
    font-size: 1.2rem;
}
.document h4 {
    font-size: 1rem;
    text-align: left;
}
.document h5 {
    font-size: 0.9rem;
    text-align: left;
}
.document p {
    font-size: 1rem;
}

.document img {
    width: 50%;
    height: auto;
    max-width: 800px;
}

.document table {
    text-align: center;
    border: 1px solid var(--font-color);
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.document th, .document td {
    text-align: left;
    border: 1px solid var(--font-color);
    padding: 0.5rem;
}
.document th {
    font-weight: bold;
}
.document ul {
    list-style: circle;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}
.document ol {
    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {
    top: -0.5em;
}
sub {
    bottom: -0.25em;
}

.copy {
    border: 1px solid var(--border-color);
    text-align: center;
    font-size: 0.9rem;
    padding: 0.5rem;
    line-height: 1.5rem;
}


/****************** Search ******************/

#search-results {
    display: none;
}

#search-popup {
    display: none;
    position: absolute;
    top: 32rem;
    left: 14.5rem;
    border: 1px solid var(--border-color);
    margin-left: 0.5rem;
    padding: 0.5rem;
    width: 25rem;
    z-index: 99999;
    background-color: white;
}

.search-result {
    text-align: left;
    margin-left: 2rem;
    margin-bottom: 0.7rem;
    list-style: none;
}

.popup-result {
    list-style: none;
}

.popup-result a {
    border: none !important;
    background: none !important;
    width: auto !important;
    height: auto !important;
    padding: 0 !important;
    margin: 0 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    line-height: 1rem !important;
    font-size: 0.9rem;
}

.search-result-description {
    font-size: 0.9rem;
}

.popup-result-description {
    font-size: 0.7rem;
    line-height: 0.9rem;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

/****************** Contact ******************/

.contact-form {
    width: 100%;
    display: inline-block;
    border: 1px solid var(--border-color);
}

#contacts p.form-rule {
    width: 100%;
    display: block;
    float: left;
    font-size: 0.0001rem;
    clear: both;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid var(--border-color);
}

#contacts p.form-label {
    width: 15%;
    display: block;
    float: left;
    padding: 0.7rem;
    margin: 0;
    line-height: 2rem;
}
@media screen and (max-width: 930px) {
    #contacts p.form-label {
        width: 30%;
    }
}
@media screen and (max-width: 450px) {
    #contacts p.form-label {
        width: 100%;
    }
}

#contacts p.form-field {
    width: 35%;
    display: block;
    float: left;
    padding: 0.7rem;
    margin: 0;
    line-height: 1rem;
}
@media screen and (max-width: 930px) {
    #contacts p.form-field {
        width: 70%;
    }
}
@media screen and (max-width: 450px) {
    #contacts p.form-field {
        width: 100%;
    }
}

#contacts p.form-area {
    width: 85%;
    display: block;
    float: left;
    padding: 0.7rem;
    margin: 0;
}
@media screen and (max-width: 930px) {
    #contacts p.form-area {
        width: 100%;
    }
}

#contacts p.form-submit {
    width: 100%;
    display: block;
    float: left;
    padding: 0.7rem;
    margin: 0;
    text-align: center;
    /* margin-left: 15%; */
}

#contacts input {
    border: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 2rem;
}

#contacts textarea {
    height: 12rem;
    width: 100%;
    line-height: 2rem;
    border: 0;
}

#contacts input[type="submit"] {
    width: 20rem;
}

/****************** Back To Top ******************/


#back-to-top {
    bottom: 0.4rem;
    display: none;
    position: fixed;
    right: 2.4rem;
    z-index: 999;
    color: var(--font-color);
    border: 1px solid var(--font-color);
    background: var(--bg-color);
}
@media screen and (max-width: 740px) {
    #back-to-top {
        right: 1.4rem;
    }
}

#back-to-top.button-fade-out {
    /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
    opacity: .9;
}

/*** Forms ***/

input[type=text], textarea {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
    outline: none;
    font-family: 'News Cycle', 'Arial', 'sans-serif';
    font-size: 0.9rem;
    background-color: transparent;
    color: var(--font-color);
}

input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 1px var(--border-color);
    background-color: var(--header-font-color);
    border: 1px solid var(--border-color);
}

input[type="submit"], input[type="reset"], input[type="button"] {
    font-family: 'Questrial', 'Arial', 'sans-serif';
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 800;
    height: 4rem;
    letter-spacing: 0.2rem;
    line-height: 4rem;
    padding: 0 2rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    -moz-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
    -webkit-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
    -ms-transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
    transition: background-color 0.2s ease, border 0.2s ease, color 0.2s ease;
    background-color: var(--button-color);
    color: var(--link-color);
    border: 2px solid var(--border-color) !important;
    box-shadow: 1px 1px 6px 0 var(--font-color);
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover,
input[type="submit"]:focus, input[type="reset"]:focus, input[type="button"]:focus,
input[type="submit"]:active, input[type="reset"]:active, input[type="button"]:active {
    background-color: var(--border-color);
    color: var(--shadow-color);
}

input[type="submit"].disabled, input[type="submit"]:disabled, input[type="reset"].disabled, input[type="reset"]:disabled, input[type="button"].disabled, input[type="button"]:disabled {
    color: var(--button-disabled-color) !important;
    border-color: var(--button-disabled-color) !important;
    -moz-pointer-events: none;
    -webkit-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
}
input[type="submit"].disabled:before, input[type="submit"]:disabled:before, input[type="reset"].disabled:before, input[type="reset"]:disabled:before, input[type="button"].disabled:before, input[type="button"]:disabled:before {
    color: var(--button-disabled-color) !important;
}
input[type="submit"].disabled:after, input[type="submit"]:disabled:after, input[type="reset"].disabled:after, input[type="reset"]:disabled:after, input[type="button"].disabled:after, input[type="button"]:disabled:after {
    color: var(--button-disabled-color) !important;
}