<header>

    <h1><a href="/home">{{ layout.name }}</a></h1>

    <div id="top-nav" class="nav-menu">
        <a href="javascript:void(0);" class="nav-icon" onclick="hamburger()"><i class="fa fa-bars"></i> Menu</a>
        <a href="/about/"><i class="fas fa-user-graduate"></i> About</a>
        <a href="/contact/"><i class="far fa-envelope-open"></i> Contact</a>
        <a href="/notes/"><i class="far fa-file-alt"></i> Notes</a>
        <a href="/tags/"><i class="fas fa-tags"></i> Tags</a>
        <a href="/search/"><i class="fas fa-search"></i> Search</a>
        <a href="/links/"><i class="fas fa-link"></i> Links</a>
    </div>

</header>